<ng-container *ngIf="userData$ | async as userData">
  <ng-container *ngIf="usersPosts$ | async as usersPosts">
    <ng-container *ngIf="friendsPost$ | async as friendsPosts">
      <div *ngIf="userData && usersPosts && friendsPosts" class="container">
        <app-create-posts [userData]="userData"></app-create-posts>
        <app-posts
          [userData]="userData"
          [combinedPosts]="combinePosts(usersPosts, friendsPosts)"
        ></app-posts>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
